/* ALL PAGES */
body {
  background-color: #f4f1de;
  margin: 0;
}

/*header*/
header {
  display: flex;
  background-color: white;
  position: fixed;
  width: 100%;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: 18pt;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#logo {
  font-family: "joly-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 2rem;
  font-size: 25pt;
}

li {
  margin-inline: 1.2rem;
}

/*footer*/
footer {
  background-color: #3d405b;
  display: flex;
  margin-top: 50px;
}

.footer-contacts,
.footer-customer-care,
.footer-about-us {
  margin: 20px;
  color: white;
}

.footer-customer-care,
.footer-about-us {
  margin-left: 350px;
}

li {
  list-style: none;
  padding: 5px;
}

#contacts,
#customer-care,
#about-us {
  margin-left: 25px;
}

/* HOMEPAGE */

/*main pictures*/
.bestsellers-pictures {
  width: 100%;
}
.Earring-Photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.front-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gold-green-earings {
  width: 100%;
}
.jewlery-girl {
  width: 100%;
}

/*categories grid*/
#categories-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  margin-left: 20px;
}

figcaption {
  font-size: 15pt;
}

.categories-pictures {
  width: 130%;
}

/*bestsellers grid*/
#bestsellers-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bestsellers-pictures {
  width: 120%;
}

/* EARRINGS PRODUCT PAGE */

#earrings-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.earrings-pictures {
  width: 100%;
}

/* DETAIL PAGE */

#detail-page-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#secondary-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-pictures {
  width: 100%;
}

.ymal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ymal-pictures {
  width: 100%;
}

/* CART PAGE*/
#yourcart-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cart-picture {
  width: 100%;
}
